.ghe {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  margin: 9px;
  background-color: #85d0ff;
  border: none;
}
.gheDaDat {
  background-color: #000 !important;
  cursor: no-drop;
  color: #fff;
}

/* .gheDaDat::after {
  content: "\58";
  color: #fff;
} */

.gheDangDat {
  background-color: #44c020 !important;
}
.gheVip {
  background-color: #feea15;
}

.gheDaDuocDat {
  background-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: -1px 2px 18px -6px #000000;
  box-shadow: -1px 2px 18px -6px #000000;
  color: #000000;
  border: 1px solid #000000;
}
