.history {
  padding: 100px 0;
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 30px 0;
}
.flex {
  display: flex;
  border-bottom: 1px solid red;
}
.tenPhim {
  font-size: 18px;
  font-weight: 600;
}
.tenGhe {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  width: 30px;
  height: 30px;
}
