.movie_list {
  margin-top: 40px;
}

.movie_list .title_movie {
  margin-bottom: 30px;
  margin-left: 10px;
  text-align: center;
}
/* .movie_list .title_movie button {
  background-color: transparent;
  border: none;
  margin-right: 40px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #737373;
  line-height: 28px;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  padding: 0 0 5px 0;
}
.movie_list .title_movie button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(0, 0, 0);
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.movie_list .title_movie button:hover::after {
  width: 100%;
} */
.movie_list .item {
  padding: 10px;
}

.slick-prev:before {
  content: "\f104";
  font-family: "FontAwesome";
  color: #8e8e8e;
  font-size: 42px;
}

.slick-next:before {
  content: "\f105";
  font-family: "FontAwesome";
  color: #8e8e8e;
  font-size: 42px;
}

.width-item {
  width: 100% !important;
}

.active {
  background-color: red;
}
.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.none_active {
  background-color: #000;
}
