/*use flexbox to centered element*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.loading_bar {
  width: 100px;
  height: 2px;
  background-color: #d6cec2;
  border-radius: 10px;
  margin-top: 25px;
  overflow: hidden;
  position: relative;
}
div.loading_bar::after {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  background-color: #000;
  transform: translateX(-20px);
  animation: loop 2s ease infinite;
}
@keyframes loop {
  0%,
  100% {
    transform: translateX(-28px);
  }
  50% {
    transform: translateX(78px);
  }
}
